<div id="landing_page">


  <video class="landing-video" poster="images/enzo.png" autoplay="true" muted>
    <source src="videos/Landing_video_short.mp4" type="video/mp4">
    <source src="videos/Landing_video_short.webm" type="video/webm">
  </video>

  <div class="background-mobile">
    <img class="bottom-image" src="images/enzo.png"/>
    <img class="top-image1" src="images/gallery/1_platte.png"/>
    <img class="top-image2" src="images/gallery/2_montasio.png"/>
  </div>

  <div class="chevron-flexbox-parent">
    <div class="chevron-flexbox-item">
      <div class "double-angle-down">
        <a href="#oeffnungszeiten"><i class="fa fa-chevron-circle-down" style="font-size:48px"></i></a>
      </div>
    </div>
  </div>

</div>
