<div id="oeffnungszeiten">
  <div class="wrapper">

    <div class="oeffnungszeiten-flexbox-parent">

      <div class="oeffnungszeiten-flexbox-item">
          <table class="overlay-text-list">
            <tr>{{ site.opening_hours.title }}  </tr>
            <tr><td>{{ site.opening_hours.mo.title }}: </td> <td>{{ site.opening_hours.mo.hours }}</td> </tr>
            <tr><td>{{ site.opening_hours.di.title }}: </td> <td>{{ site.opening_hours.di.hours }}</td> </tr>
            <tr><td>{{ site.opening_hours.mi.title }}: </td> <td>{{ site.opening_hours.mi.hours }}</td> </tr>
            <tr><td>{{ site.opening_hours.do.title }}: </td> <td>{{ site.opening_hours.do.hours }}</td> </tr>
            <tr><td>{{ site.opening_hours.fr.title }}: </td> <td>{{ site.opening_hours.fr.hours }}</td> </tr>
          </table>
      </div>
    </div>

  </div>
</div>
