<div id="oeffnungszeiten">
  <div class="wrapper">

    <div class="oeffnungszeiten-flexbox-parent">

      <div class="oeffnungszeiten-flexbox-item">
        <div class="overlay-text">
          <ul class="overlay-text-list">
            <li>{{ site.opening_hours.title }}</li>
            <li>{{ site.opening_hours.mo.title }} : {{ site.opening_hours.mo.hours }} </li>
            <li>{{ site.opening_hours.di.title }} : {{ site.opening_hours.di.hours }} </li>
            <li>{{ site.opening_hours.mi.title }} : {{ site.opening_hours.mi.hours }} </li>
            <li>{{ site.opening_hours.do.title }} : {{ site.opening_hours.do.hours }} </li>
            <li>{{ site.opening_hours.fr.title }} : {{ site.opening_hours.fr.hours }} </li>
            <li>{{ site.opening_hours.sa.title }} : {{ site.opening_hours.sa.hours }} </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
