<div id="ueberuns">

  <h1 class="page-heading">Über uns</h1>
  Unser italienisches Feinkostgeschäft in Rosegg entstand im Mai 2010.

  Eine persönliche und freundliche Bedienung liegt uns sehr am Herzen.

  Qualitativ hochwertige Produkte betimmen unsere Palette: vom Wurstbereich über die Käsetheke, bis hin zu Feinkostprodukten und Weinen aus vielen Regionen Italiens.

  Unser Angebot an Produkten wird von ständig wechselnden Themen und Schwerpunkten bestimmt, täglich frisches Gebäck und eine kleine Auswahl an saisonalem Obst und Gemüse runden unser Sortiment ab, so dass immer Neues und Interessantes unsere Kunden zum Genießen einlädt.

  Überzeugen Sie sich selbst und besuchen Sie uns einmal. Es ist immer einen Umweg wert - wir haben bestimmt auch für Ihren Geschmack das Richtige!
</div>
