/**
 * Site header
 */
.site-header {
    //border: 2px solid lightblue;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    //height: 100vh;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    //border: 2px solid lightblue;
    position: relative;
    z-index: 2;
    //font-size: 26px;
    //line-height: 64px;
    //letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.header-logo {
  //border: 2px solid lightblue;
  width: 300px;

}
.mobile-nav{
  //border: 2px solid lightblue;
  visibility: hidden;
}

.site-nav {
    //border: 2px solid lightblue;
    position: relative;
    z-index: 2;
    float: right;
    //line-height: 20px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

//@include media-query($on-palm)
@media screen and (max-width: $on-palm) {

  .site-header {
    //border: 2px solid lightblue;
    max-width: 80%;
  }

  .header-flexbox-parent{
    display: none;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-flexbox-item{
    display: none;
    border: 3px solid blue;

  }
  .site-title{
    display: none;
    width: 80px;
  }

  .mobile-nav{
    visibility: visible;
    //border: 2px solid green;
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100vw;
    height: auto;
  }

  .mobile-nav-flexbox-parent{
    //border: 1px solid blue;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .mobile-nav-flexbox-item{
    //border: 2px solid lightblue;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $grey-color-dark;
    border: 1px solid $grey-color-light;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-size: 5vw;

    &:hover {
        text-decoration: none;
        background-color: $brand-color;
      }

    .mobile-nav-link{
      color: white;

      &:hover {
          text-decoration: none;
    }
  }
  }


  .site-nav-if-ever-needed {
    //border: 2px solid red;
    border-radius: 5px;
    text-align: center;

      .menu-icon {
          display: block;
          float: right;
          width: 72px;
          height: 52px;
          line-height: 0;
          padding-top: 10px;
          text-align: right;

          > svg {
              width: 30px;
              height: 25px;

              path {
                  fill: $navbarcolor;
              }
          }
      }

      .trigger {
          clear: both;
          display: none;
      }

      &:hover .trigger {
          display: block;
          padding-bottom: 5px;
      }

      .page-link {
          display: block;
          padding: 5px 10px;
      }
  }

}

/**
 * Landing_page
 */

#landing_page{
  //border: 2px solid lightblue;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: 100vh;

}

.landing-video-box{
  //border: 2px solid lightblue;
  overflow: hidden;
}

.landing-video {
  //border: 2px solid lightblue;
   /*position: absolute; for making landing video scrollable */
  position: fixed; /*for making landing video fixed and pages move over it*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 90%;
  width: auto;
  height: auto;
  z-index: -1;  /*moves landing page vidoe into the background so rest of website scrolls over it*/

}

.header-flexbox-parent {
  //border: 5px solid lightblue;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  padding: 15px;
  z-index: 2;
  width: 90%;
  min-height: 15%;
  //height: auto;
  //flex stuff:
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.video-flexbox-parent {
  //border: 5px solid lightgreen;
  position: absolute;
  margin-top: 200px;
  margin-left: 20px;
  padding: 15px;
  width: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.video-flexbox-item:nth-child(1) {
  margin-left:auto;

}

.chevron-flexbox-parent {
  //border: 5px solid lightgreen;
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.chevron-flexbox-item:nth-child(1) {
  align-self: center;

}

.background-mobile {
  visibility: hidden;
  //border: 2px solid lightblue;
}

// when the screen becomes mobilephonesize, do this:
@media screen and (max-width: $on-palm) {
  #landing_page{
    //border: 2px solid lightblue;
    width: 100vw;
    height: auto;
  }

  .video-flexbox-parent {
    //border: 5px solid red;
    position: absolute;
    margin-top: 200px;
  }

  .landing-video{
    //border: 2px solid lightblue;
    display: none;
  }

  .video-flexbox-item:nth-child(1) {
    align-self: center;
    margin-left: 0;
    padding-left: 0;
  }

  .background-mobile {
    visibility: visible;
    //border: 2px solid blue;
  }

  .background-mobile-image {
    //border: 2px solid lightblue;
    visibility: visible;
    height: auto;
    width: auto;
  }

  .chevron-flexbox-parent {
    //border: 1px solid lightgreen;
    position: relative;
    background-color: rgba(250,250,250,1);
    bottom: 0;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}


/**
 * oeffnungszeiten
 */

 #oeffnungszeiten{
   //border: 5px solid red;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: rgba(250,250,250,0.7);
   background-position: center 0;
   margin: 0;
   padding-top: 50px;
   padding-bottom: 50px;
   width: auto;
   height: auto;
   //height: 100vh;
}

.oeffnungszeiten-flexbox-parent {
  //border: 5px solid blue;
  max-width: 80vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay-text {
  //border: 2px solid lightblue;
  width: 380px;
  position: relative;
  z-index: 2;
  background: rgba(250,250,250,1);
  padding-top: 40px;
  padding-bottom: 20px;

}

.overlay-text-list {
  //border: 2px solid lightblue;
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: $on-palm) {
  #oeffnungszeiten{
    //border: 1px solid purple;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .overlay-text {
    //border: 2px solid lightblue;
    width: 340px;
  }
  .overlay-text-list {
    //border: 2px solid lightblue;
    font-size: 20px;
    font-size: 4vw;
    list-style: none;
  }
}

/**
 * Ueber uns
 */

 #ueberuns{
   //border: 2px solid lightblue;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: white;
   background-position: center 0;
   margin: 0;
   padding-top: 50px;
   padding-bottom: 50px;
   width: auto;
   height: auto;
   //height: 100vh;
}

.page-heading{
  //border: 5px solid green;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.uns-flexbox-parent {
  //border: 5px solid green;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  //margin: 0 auto;
  //z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

.uns-flexbox-item {
  //border: 2px solid lightblue;
  width: 250px;
  font-size: 17px;
  margin: 10px;

}

.round-picture {
  opacity: 1;
  transition: opacity 2s; /* explorer 10 */
  -webkit-transition: opacity 2s; /* chrome & safari */
  -moz-transition: opacity 2s; /* firefox */
  -o-transition: opacity 2s;
}

.round-picture:hover {
  opacity: 0.7;
}

// when the screen becomes mobilephonesize, do this:
@media screen and (max-width: $on-palm) {
  #ueberuns{
    //border: 1px solid green;
    height: auto;
  }

  .uns-flexbox-parent {
    //border: 1px solid red;
  }

  .round-picture {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .round-picture:hover {
    opacity: 1;
  }

  .uns-flexbox-item {
    width: auto;
    margin: 10px;
  }
}


/**
 * Anfahrt
 */

#anfahrt{
  background: $green-color;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  padding: 0;
  width: auto;
  height: auto;
}


.image_container {
  width: 100%;
  padding: 0;
  margin: 0;
}



/**
 * Gallery
 */

#gallery{
  border: 2px solid lightblue;
  height: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(250,250,250,0.8);
  background-position: center 0;
}

.gallery-flexbox-parent {
  border: 5px solid red;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-flexbox-item{
  border: 5px solid blue;
  width: 480px;
  height: 270px;
  margin: 10px;
  overflow: hidden;

}

.galleryimage {
	border: 2px solid lightblue;
  width: auto;
  z-index: 1;

	transform: translate3d(0, 0, 0) scale3d(1.3, 1.3, 1);
  transition: transform 0.5s; /* explorer 10 */
  -webkit-transition: transform 0.5s; /* chrome & safari */
  -moz-transition: transform 0.5s; /* firefox */
  -o-transition: transform 0.5s;
}

.gallery-image-title {
  border: 2px solid lightblue;
  width: 400px;
  z-index: 2;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: white;
	font-size: 1.2em;
	line-height: 1;
  opacity: 0;
  transform: translate3d(3%, 0, 0);
	transition: transform 0.4s, opacity 2s;
  -webkit-transition: transform 0.4s, opacity 2s; /* chrome & safari */
  -moz-transition: transform 0.4s, opacity 2s; /* firefox */
  -o-transition: transform 0.4s, opacity 2s;
}

.gallery-flexbox-item:hover {
  .galleryimage {
  transform: translate3d(0, 0, 0);
  }
  .gallery-image-title {
  opacity: 1;
	transform: translate3d(3%,-100%, 0);
  }
}

// when the screen becomes mobilephonesize, do this:
@media screen and (max-width: $on-palm) {
  #gallery{
    border: 2px solid lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }

  .gallery-flexbox-item:nth-child(6) {
    display: none;
  }
  .gallery-flexbox-item:nth-child(7) {
    display: none;
  }
  .gallery-flexbox-item:nth-child(8) {
    display: none;
  }
  .gallery-flexbox-item:nth-child(9) {
    display: none;
  }
  .gallery-flexbox-item{
    border: 5px solid blue;
    margin: 0;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .galleryimage {
  	border: 2px solid lightblue;
    width: auto;
    z-index: 1;
    padding: 0;
  	transform: translate3d(0, 0, 0);
  }

  .gallery-image-title {
    border: 2px solid lightblue;
    width: 400px;
    z-index: 2;
  	bottom: 0;
  	margin: 0;
  	padding: 1em;
  	color: white;
  	font-size: 1.2em;
  	line-height: 1;
    transform: translate3d(3%,-100%, 0);
  }




}
/**
 * Site footer
 */

.site-footer {
  //border: 2px solid lightblue;
  padding-bottom: 20px;
  background-color: white;
  border-top: 3px solid $green-color;

  //padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    font-size: 16px;
    list-style: none;
    margin-left: 0;
}

.footer-flexbox-parent {
  //border: 5px solid red;
  margin-left: 20px;
  max-width: 800px;
  margin: 0 auto;
  //z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

}

.footer-flexbox-item {
  //border: 5px solid green;
  margin-top: 40px;
  max-width: 250px;

}

.footer-flexbox-item:nth-child(1) {
  max-width: 200px;
  align-self: flex-start;

}

.image_container {
  max-width: 800px;
  padding: 0;
  margin-top: 20px;
}


@include media-query($on-palm) {
    .site-footer {
      padding-bottom: 100px;
    }

    .footer-flexbox-parent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 48px;
    color: $green-color;

}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
